/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEBUG */
* {
    border: 2px dashed rgb(5, 248, 38);
}

/* GENERAL */
.box {
    max-width: 1620px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}

.flex {
    display: flex;
}

/*GRID LAYOUT */
.col {
    display: flex;
    padding: 0;
}

.col-40 {
    width: 40%;
    background-color: rgb(255, 192, 203);
}

.col-60 {
    width: 60%;
    background-color: rgb(30, 144, 255);
}

/* HEADER */
.container-60px {
    min-height: 60px;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
}

.navbar {
    justify-content: space-between;
    width: 500px;
    min-height: 30px;
    background-color: rgb(218, 165, 32);
}

.container-300px {
    min-height: 300px;
    background-color: rgb(0, 0, 139);
    justify-content: center;
    align-items: center;
}

.hero {
    width: 400px;
    min-height: 250px;
    background-color: rgb(328, 130, 238);
}

/* MAIN */

.container-400px {
    min-height: 400px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}

.section-1 {
    width: 500px;
    min-height: 350px;
}


/* FOOTER */